.toast-wrap {
  position: absolute;

  .toast-mask-item {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .1)
  }

  .toast-list {
    position: fixed;

    &.center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .toast-item {
    border-radius: 8px;
    padding: 5px 10px;
    opacity: 0;
    transition: all .3s;
    color: #fff;
    border: 1px solid;

    &.toast-type-primary {
      background-color: #337ab7;
      border-color: #2e6da4;
    }

    &.toast-type-success {
      background-color: #5cb85c;
      border-color: #4cae4c;
    }

    &.toast-type-info {
      background-color: #5bc0de;
      border-color: #46b8da;
    }

    &.toast-type-warning {
      background-color: #f0ad4e;
      border-color: #eea236;
    }

    &.toast-type-danger {
      background-color: #d9534f;
      border-color: #d43f3a;
    }

    &.toast-type-loading {
      background-color: #fff;
      border-color: #ccc;
      color: #666;
    }

    &.fade {
      opacity: 1;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .toast-text {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
