@font-face {
  font-family: "iconfont"; /* Project id 3287589 */
  src: url('./fonts/iconfont.woff2?t=1648552006416') format('woff2'),
       url('./fonts/iconfont.woff?t=1648552006416') format('woff'),
       url('./fonts/iconfont.ttf?t=1648552006416') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error1:before {
  content: "\e633";
}

.icon-error:before {
  content: "\e634";
}

.icon-primary:before {
  content: "\e65f";
}

.icon-success:before {
  content: "\e726";
}

.icon-info:before {
  content: "\e66f";
}

.icon-warn:before {
  content: "\e67e";
}
