@import '@/styles/mixins.scss';
@import '@/styles/color.scss';

.notify-wrap {
	position: absolute;

	&_list {
		position: fixed;
		width: 200px;
		top: 5%;
		right: 0;

		&_item {
			display: flex;
			border-radius: 5px;
			padding: 5px 10px;
			opacity: 0;
			color: #fff;
			transition: all 0.5s, transform 1s;
			transform: translateX(500%);

			&-type-primary {
				background-color: $primary-color;
				border-color: $primary-bd-color;
			}

			&-type-success {
				background-color: $success-color;
				border-color: $success-bd-color;
			}

			&-type-info {
				background-color: $info-color;
				border-color: $info-bd-color;
			}

			&-type-warning {
				background-color: $warning-color;
				border-color: $warning-bd-color;
			}

			&-type-danger {
				background-color: $danger-color;
				border-color: $danger-bd-color;
			}

			&-type-loading {
				background-color: #fff;
				border-color: #ccc;
				color: #666;
			}

			&.fade-in {
				opacity: 1;
				transform: translateX(0);
				border: 1px solid;
				box-shadow: 1px 1px 4px 1px #ddd;
			}

			&:not(:first-child) {
				margin-top: 10px;
			}

			&_icon {
				font-size: 20px;
				padding: 4px 8px 0 0;
			}

			&_content {
				max-width: 85%;
				flex: 1;

				&_title {
					@include ellipsis;
					position: relative;
					padding: 5px 20px 5px 0;
					height: 20px;
					font-weight: bold;
					justify-content: space-between;
					align-items: center;

					&_close {
						position: absolute;
						top: 1px;
						right: 0;
						cursor: pointer;
						transition: transform 0.4s;
						transform: rotate(45deg);
						font-size: 25px;

						&:hover {
							transform: rotate(135deg);
						}
					}
				}

				&_text {
					margin-bottom: 5px;
					line-height: 18px;
				}
			}
		}
	}
}
