.loading-wrap {
	position: absolute;

	&_mask {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0 0 0 / 0.1);
	}

	&_bd {
		position: fixed;
		z-index: 999;
		width: 100px;
		height: 100px;

		&.center {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&_item {
			height: 100%;
			border-radius: 8px;
			padding: 10px;
			opacity: 0;
			transition: all 0.3s;
			box-shadow: 0 0 1px 1px #eee;

			&.fade {
				opacity: 1;
			}

			&_content {
				display: flex;
				flex-direction: column;
				height: 100%;

				&_icon {
					flex: 1;
					text-align: center;
				}

				&_text {
					margin: 0;
					padding: 0;
					text-align: center;
					line-height: 14px;
				}
			}
		}
	}
}
